.footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
}

.file-uploader {
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    cursor: pointer;
    background-color: #ADADAD;

}

.file-uploader p {
    margin: 0;
}

.file-icon {
    font-size: 20px;
    margin-right: 10px;
    vertical-align: initial;
}