/* GroupPage styles */

.grouppage {
  width: 60%;
  margin: 10rem 19rem 0;
}

.header {
  display: flex;
  align-items: center;
}

/* GroupQuery styles */
.groupquery {
  margin-bottom: 10px;
}

.groupquery input {
  width: 400px;
  height: 60px;
}

/* JoinedGroups styles */
.joinedgroups {}

.joinedgroups table {
  width: 100%;

}

.joinedgroups thead {
  border-top: 1px solid #adadad;

}

.joinedgroups th,
.joinedgroups td {
  text-align: center;
  border-bottom: 1px solid #adadad;
}

.joinedgroups th {
  vertical-align: middle;
}

.joinedgroups p {
  margin: 0;
}

/* InviteForm styles */
/* .InviteForm {
  margin-bottom: 10px;
} */


.InviteForm label {
  display: block;
  font-weight: bold;
}

.InviteForm input {
  width: 400px;
  height: 60px;
}

.sendButton {
  border: 1px solid #adadad;
  background: #adadad;
  height: 60px;
  padding: 0 10px;
  border-radius: 5px;
  margin-left: 5px;
  font-weight: 600;
  color: #464646;
  margin-bottom: 0;
}

.boardButton,
.chattingButton {
  font-weight: 700;
  border: 1px solid #AF9CFB;
  width: 100px;
  border-radius: 5px;
  height: 60px;
  margin-left: 5px;
}

a {
  color: #AF9CFB;
}

button {
  background: none;
}