/* GroupPage styles */

.grouppage {
  width: 60%;
    margin: 5rem 19rem 0;
}
.header {
  display: flex;
  align-items: center;
}
h1 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 30px;
  margin-right: 20px;
}

/* GroupQuery styles */
.groupquery {
  margin-bottom: 10px;
}

.groupquery input {
  width: 200px;
}

.groupquery button {
  margin-left: 10px;
}

/* JoinedGroups styles */
.joinedgroups {
  background-color: #f5f5f5;
  
}

.joinedgroups table {
  width: 100%; 
}

.joinedgroups th, .joinedgroups td {
  text-align: center; 
}

.joinedgroups th {
  vertical-align: middle; 
}

.joinedgroups p {
  margin: 0; 
}

/* InviteForm styles */
.InviteForm {
  margin-bottom: 10px;
}

.InviteForm label {
  display: block;
  font-weight: bold;
}

.InviteForm input[type="text"],
.InviteForm input[type="email"] {
  width: 170px;
}