.bd-sidebar {
    position: fixed;
    top: 8rem;
    left: 3rem;
    z-index: 1000;
    height: calc(100vh - 4rem);
    overflow-y: auto;
    min-width: 200px;
    /* max-width: 220px; */
}

.bd-sidebar .nav {
    display: block;
    margin-top: 1rem;
}

.bd-sidebar .nav>li>a {
    display: block;
    padding: 1rem 1rem;
    font-size: 25px;
    font-weight: 500;
    color: #4D37A5;
}

.bd-sidebar .nav>li>button {
    display: block;
    /*margin-top: .5rem;*/
    padding: 1rem 1rem;
    font-size: 22px;
}

.navbar {
    position: fixed;
    width: 100%;
    top: 0rem;
    padding: 1.5rem;
    background-color: #fff;
}

.navbar-brand,
.navbar-brand:hover {
    color: #4D37A5;
    font-size: 50px;
    font-weight: 900;
    padding-left: 1.75rem;
}

.btn-success {
    background-color: #AF9CFB;
    border: none;
    color: #fff;
    font-weight: 600;
}

.btn-success:hover {
    background-color: #4D37A5;

}

a {
    text-decoration: none;
}

button {
    border: none;
}

.search-input {
    border-radius: 50px;
    margin-left: 3rem;
    height: 60px;
}

.upload-options {
    list-style: none;
    padding: 15px;
    margin: 0;
}

.upload-options li {
    margin-bottom: 10px;
}

.upload-options li a {
    color: inherit;
    text-decoration: none;
}