body {
  background-color: #FFFFFF;
}

.App form {
  background-color: #FFFFFF;
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  left: 509px;
  right: 517px;
  top: 135px;
  bottom: 777px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  font-size: 100px;
  line-height: 121px;

  color: #4D37A5;

}

.form {
  box-sizing: border-box;

  width: 470px;
  height: 65px;
  left: 485px;
  top: 282px;

  background: #FFFFFF;
  border: 2px solid #D9D9D9;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 30px;
  
  color: #9E9E9E;
}


.signup {
  width: 470px;
  height: 65px;
  left: 485px;
  top: 824px;

  background: #4D37A5;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  font-size: 30px;
  line-height: 36px;
  color: #FFFFFF;

}